# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# distributive files
/dist/


# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace files
go.work.sum
go.sum


# env file
.env


# temporary files
*.*~


# data files, settings
data.db
data.db-journal
.settings.yml
.settings.*.yml
